@bg-color: rgba(255, 255, 255, 1);
@bg-color-block: rgba(241, 241, 241, 1);
@bg-color-icon-lamp: rgba(99, 209, 187, 1);
@bg-color-icon-lego: rgba(86, 195,178, 1);
@bg-color-main-nav: rgba(249, 249, 249, 1);

@text-color: rgba(68, 68, 68, 1);
@text-color-title: rgba(1, 0, 0, 1);
@text-color-invert: rgba(255, 255, 255, 1);
@text-color-invert-btn-active: rgba(255, 255, 255, 0.3);
@text-color-additional: rgba(99, 209, 187, 1);
@text-color-form-label: rgba(1, 0, 0, 1);
@text-color-form-placeholder: rgba(68, 68, 68, 0.3);
@text-color-placeholder-focus: rgba(68, 68, 68, 1);
@text-color-location-address: rgba(98, 209, 186, 1);

@font-size: 15px;
@font-size-desktop: 17px;
@font-size-h1: 27px;
@font-size-title-tablet: 43px;
@font-size-title-desktop: 53px;
@font-size-h2: 25px;
@font-size-title-loca: 18px;
@font-size-main-nav: 17px;
@font-size-products-descr: 13px;
@font-size-products-descr-desktop: 15px;
@font-size-item: 17px;
@font-size-item-desktop: 20px;
@font-size-features: 17px;
@font-size-features-desktop: 20px;
@font-size-btn: 17px;
@font-size-price: 17px;
@font-size-price-desktop: 20px;
@font-size-footer: 19px;
@font-size-add-nav: 19px;
@font-size-week-subtitle: 17px;
@font-size-form-mobile: 17px;
@font-size-form-descr-mobile: 13px;
@font-size-reviews-author-name: 17px;
@font-size-reviews-author-desktop: 18px;
@font-size-form: 19px;
@font-size-legend: 14px;
@font-size-legend-desktop: 17px;
@font-size-pop-up: 25px;
@font-size-pop-up-desktop: 30px;
@font-size-pop-up-legend: 15px;
@font-size-pop-up-legend-desktop: 17px;

@line-height: 24px;
@line-height-desktop: 30px;
@line-height-h1: 30px;
@line-height-title-tablet: 50px;
@line-height-title-desktop: 57px;
@line-height-additional-nav: 30px;
@line-height-h2: 30px;
@line-height-reviews: 30px;
@line-height-week-subtitle: 17px;
@line-height-table: 30px;
@line-height-features: 20px;
@line-height-features-desktop: 22px;
@line-height-form: 18px;
@line-height-reviews-item: 30px;
@line-height-products-item-desktop: 24px;
@line-height-products-descr-desktop: 30px;
@line-height-btn: 20px;
@line-height-pop-up: 30px;
@line-height-pop-up-desktop: 57px;

@fontRegular: "opensans";
@fontBold: "opensansbold";

@color-border: rgba(236, 236, 236, 1);
@color-borderfooter: rgba(229, 229, 229, 1);
@border-btn: rgba(68, 68, 68, 1);
@border-lineblue: rgba(98, 209, 186, 1);
@border-form: rgba(0, 0, 0, 1);
@color-btn-pop-up: rgba(99, 209, 187, 1);

@tablet-widths: ~"(min-width: 768px)";
@desktop-widths: ~"(min-width: 1150px)";
@mobile-widths-only: ~"(max-width: 767px)";

@order-input-line: rgba(68, 68, 68, 1);
@order-input-line-hover: rgba(98, 209, 186, 1);
@order-input-line-active: rgba(68, 68, 68, 0.3);
@order-input-checked: rgba(98, 209, 186, 1);

@pop-up-form-hover: rgba(68, 68, 68, 0.3);
@pop-up-form-active: rgba(98, 209, 186, 1);
