.btn {
  display: block;

  padding-top: 13px;
  padding-bottom: 13px;

  text-align: center;
  text-transform: uppercase;

  font-weight: 700;
  font-size: @font-size-btn;
  line-height: @line-height-btn;
  font-family: inherit;
  text-decoration: none;
  color: @text-color;
  border: 2px solid @border-btn;
  background-color: transparent;

  cursor: pointer;
}
