.page-footer {
  padding-top: 22px;
  background-color: @bg-color-block;
  &__wrapper {
    .container();
  }
  &__social {
    padding: 0;
    padding-bottom: 22px;
    border-bottom: 1px solid @color-borderfooter;
  }
  &__copyright {
    margin: 0;
    padding: 0;
    margin-top: 21px;
    padding-bottom: 24px;
    text-align: center;
    font-weight: 700;
    font-size: @font-size-footer;
    color: @text-color-title;
  }
  &__copyright a {
    text-decoration: none;
    color: inherit;
  }
  &__copyright-logo {
    display: inline-block;
    vertical-align: middle;
    padding-left: 28px;
  }
}
