.product-week {
  &__wrapper {
    .container();
    margin-bottom: 70px;
  }
  &__title-block {
    margin-bottom: 15px;
  }
  &__container {
    margin: 0 auto;
    padding: 0 30px;
  }
  &__title {
    font-weight: 700;
    font-size: @font-size-h2;
    line-height: @line-height-h2;
    margin: 0;
    padding: 0;
    color: @text-color-title;
    margin-bottom: 3px;
  }
  &__subtitle {
    font-weight: 700;
    font-size: @font-size-week-subtitle;
    text-transform: uppercase;
    color: @text-color-additional;
  }
  &__descr {
    margin: 0;
    padding: 0;
    margin-top: 22px;
  }
  &__product-descr {
    border-collapse: collapse;
    margin-bottom: 28px;
  }
  &__product-descr tr {
    border-bottom: 1px solid @color-border;
  }
  &__name-descr {
    width: 97px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  &__data-descr {
    width: 164px;
  }
  &__purchase {
    margin-top: 17px;
  }
  &__price {
    display: block;
    font-size: @font-size-price;
    font-weight: 700;
    text-align: center;
  }
  &__btn-purchase {
    margin-top: 27px;
  }
}
