.social-links {
  text-align: center;
  margin: 0;
  padding-left: 0;
  list-style: none;
  font-size: 0;
  & li {
    display: inline-block;
    vertical-align: middle;
    margin-left: 11px;
    margin-right: 11px;
  }
  &__link {
    display: block;
    text-decoration: none;
    width: 35px;  //временно
    height: 35px;  //временно
    background-color: red; //временно
  }
}
